.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

header{
  width: 100%;
  background-color: #ee6e73;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pokemon{
  margin-top: 20px;
  padding-top: 20px;
}

.imageSetting{
height: 65px;
    background-position: center;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;

  }
